<?xml version="1.0"?>
<robot name="dual_manipulator" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find motoman_sia5d_support)/urdf/sia5d_macro.xacro"/>
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro"/>
  <xacro:property name="pi" value="3.141592654" />

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

  <xacro:macro name="default_inertial" params="mass">
    <inertial>
      <mass value="${mass}" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
  </xacro:macro>


  <link name="base_link">
    <visual>
      <geometry>
        <box size="2.0 1.0 0.15"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="2.0 1.0 0.15"/>
      </geometry>
    </collision>
    <xacro:default_inertial mass="10"/>
  </link>

  <xacro:motoman_sia5d prefix="left_"/>
  <joint name="left_sia5d" type="fixed">
    <origin xyz="0.5 0 0" rpy="0 0 ${pi/2}"/>
    <parent link="base_link"/>
    <child link="left_base_link"/>
  </joint>

  <xacro:ur5_robot prefix="right_" joint_limited="1"/>
  <joint name="right_ur5" type="fixed">
    <origin xyz="-0.5 0 0.07" rpy="0 0 ${pi/2}"/>
    <parent link="base_link"/>
    <child link="right_base_link"/>
  </joint>
</robot>
